@page "/students"
@using BlazorDemo.Components
@using BlazorDemo.Data

<div class="shadow p-4">
    <h1>Students</h1>
    <div class="row">
        <div class="col-12 col-lg-6 mt-3 mb-5 mb-lg-0">
            <NewStudentForm OnAddStudent="@AddStudentToList" />
        </div>
        <div class="col-12 col-lg-6 mt-3">
            <ListStudents StudentList="@_studentList" OnDeleteStudent="@RemoveStudentFromList" />
        </div>
    </div>
</div>

@code {
    List<Student> _studentList = new();    

    protected void AddStudentToList(Student newStudent)
    {
        _studentList.Add(new Student()
        {
            FirstName = newStudent.FirstName,
            LastName = newStudent.LastName,
            Age = newStudent.Age
        });        
    }

    protected void RemoveStudentFromList(Student deletedStudent)
    {
        _studentList.Remove(deletedStudent);
    }
}
